<p><span id="Xzhong2024engineering"></span> <span
id="Xmarino2024crystallization"></span> <span
id="Xdwyer2023tunable"></span> <span id="Xmoore2023digital"></span>
<span id="Xshamaprasad2022using"></span> <span
id="Xlacour2022tuning"></span> <span
id="Xshamaprasad2022multiscale"></span> <span
id="Xmoore2021shape"></span> <span id="Xyang2020examining"></span> <span
id="Xadorf2019analysis"></span> <span id="Xmoore2019influence"></span>
<span id="Xmoore2018effect"></span> <span
id="Xhartkamp2018composition"></span> <span
id="Xmoore2017molecular"></span> <span
id="Xhartkamp2016investigating"></span> <span
id="Xhartkamp2016structural"></span> <span id="Xmoore2016coarse"></span>
<span id="Xmoore2016development"></span> <span
id="Xmoore2014derivation"></span> <span
id="Xguo2013simulation"></span></p>
<ol>
<li><div id="x1-3x1">
<p>Zhong, Yaxu<sup><span class="tcrm-0900">†</span></sup>, <span
class="cmbx-10">Moore, T. C.</span><sup><span
class="tcrm-0900">†</span></sup>, Dwyer, Tobias<sup><span
class="tcrm-0900">†</span></sup>, Butrum-Griffith, A., Allen, V. R.,
Chen, J., Wang, Y., Cheng, F., Glotzer, S. C., and Ye, X. <a href="https://tcmoore3.github.io/pdfs/zhong_et_al-natchemeng-2024.pdf" target="_blank">Engineering
    and direct imaging of nanocube self-assembly pathways.</a> <span
class="cmti-10">Nature Chemical Engineering </span><span
class="cmbx-10">1 </span>(2024), pp. 532–541</p>
</div></li>
<li><div id="x1-5x2">
<p>Marino, E., LaCour, R. A., <span class="cmbx-10">Moore, T. C.</span>,
van Dongen, S. W., Keller, A. W., An, D., Yang, S., Rosen, D. J.,
Gouget, G., Tsai, E. H., Kagan, C. R., Kodger, T. E., Glotzer, S. C.,
and Murray, C. B. Crystallization of binary nanocrystal superlattices
and the relevance of short-range attraction. <span
class="cmti-10">Nature Synthesis </span><span class="cmbx-10">3
</span>(2024), pp. 111–122</p>
</div></li>
<li><div id="x1-7x3">
<p>Dwyer, T., <span class="cmbx-10">Moore, T. C.</span>, Anderson,
J. A., and Glotzer, S. C. Tunable assembly of host–guest colloidal
crystals. <span class="cmti-10">Soft Matter </span><span
class="cmbx-10">19 </span>(2023), pp. 7011–7019</p>
</div></li>
<li><div id="x1-9x4">
<p><span class="cmbx-10">Moore, T. C.</span>, Rivera-Rivera, L. Y., and
Glotzer, S. C. Inverse design of triblock janus spheres for
self-assembly of complex structures in the crystallization slot via
digital alchemy. <span class="cmti-10">Soft Matter </span><span
class="cmbx-10">19 </span>(2023), pp. 2726–2736</p>
</div></li>
<li><div id="x1-11x5">
<p>Shamaprasad, P., Frame, C. O., <span class="cmbx-10">Moore, T.
C.</span>, Yang, A., Iacovella, C. R., Bouwstra, J. A., Bunge, A. L.,
and McCabe, C. Using molecular simulation to understand the skin
barrier. <span class="cmti-10">Progress in Lipid Research</span> (2022),
p. 101184</p>
</div></li>
<li><div id="x1-13x6">
<p>LaCour, R. A., <span class="cmbx-10">Moore, T. C.</span>, and
Glotzer, S. C. Tuning stoichiometry to promote formation of binary
colloidal superlattices. <span class="cmti-10">Physical Review</span>
<span class="cmti-10">Letters </span><span class="cmbx-10">128
</span>(2022)</p>
</div></li>
<li><div id="x1-15x7">
<p>Shamaprasad, P., <span class="cmbx-10">Moore, T. C.</span>, Xia, D.,
Iacovella, C. R., Bunge, A. L., and McCabe, C. Multiscale simulation of
ternary stratum corneum lipid mixtures: Effects of cholesterol
composition. <span class="cmti-10">Langmuir </span><span
class="cmbx-10">38 </span>(2022), pp. 7496–7511</p>
</div></li>
<li><div id="x1-17x8">
<p><span class="cmbx-10">Moore, T. C.</span>, Anderson, J. A., and
Glotzer, S. C. Shape-driven entropic self-assembly of an open,
reconfigurable, binary host–guest colloidal crystal. <span
class="cmti-10">Soft Matter </span><span class="cmbx-10">17
</span>(2021), pp. 2840–2848</p>
</div></li>
<li><div id="x1-19x9">
<p>Yang, A., <span class="cmbx-10">Moore, T. C.</span>, Iacovella,
C. R., Thompson, M., Moore, D. J., and McCabe, C. Examining tail and
headgroup effects on binary and ternary gel-phase lipid bilayer
structure. <span class="cmti-10">The Journal of Physical</span> <span
class="cmti-10">Chemistry B </span><span class="cmbx-10">124
</span>(2020), pp. 3043–3053</p>
</div></li>
<li><div id="x1-21x10">
<p>Adorf, C. S., <span class="cmbx-10">Moore, T.C.</span>, Melle, Y.,
and Glotzer, S. C. Analysis of self-assembly pathways with unsupervised
machine learning algorithms. <span class="cmti-10">The Journal of
Physical Chemistry B </span><span class="cmbx-10">124 </span>(2020), pp.
69–78</p>
</div></li>
<li><div id="x1-23x11">
<p><span class="cmbx-10">Moore, T. C.</span>, Yang, A. H., Ogungbesan,
O., Hartkamp, R., Iacovella, C. R., Zhang, Q., and M<sup><span
class="cmr-9">c</span></sup>Cabe, C. Influence of single-stranded DNA
coatings on the interaction between graphene nanoflakes and lipid
bilayers. <span class="cmti-10">The Journal of Physical Chemistry B
</span><span class="cmbx-10">123 </span>(2019), pp. 7711–7721</p>
</div></li>
<li><div id="x1-25x12">
<p><span class="cmbx-10">Moore, T. C.</span>, Hartkamp, R., Iacovella,
C. R., Bunge, A. L., and M<sup><span class="cmr-9">c</span></sup>Cabe,
C. Effect of ceramide tail length on the structure of model stratum
corneum lipid bilayers. <span class="cmti-10">Biophysical Journal
</span><span class="cmbx-10">114 </span>(2018), pp. 3113–3123</p>
</div></li>
<li><div id="x1-27x13">
<p>Hartkamp, R., <span class="cmbx-10">Moore, T. C.</span>, Iacovella,
C. R., Thompson, M. A., Bulsara, P. A., Moore, D. J., and M<sup><span
class="cmr-9">c</span></sup>Cabe, C. Composition dependence of water
permeation across multicomponent gel-phase bilayers. <span
class="cmti-10">The Journal</span> <span class="cmti-10">of Physical
Chemistry B </span><span class="cmbx-10">122 </span>(2018), pp.
3113–3123</p>
</div></li>
<li><div id="x1-29x14">
<p><span class="cmbx-10">Moore, T. C.</span>, Iacovella, C. R.,
Leonhard, A. C., Bunge, A. L., and M<sup><span
class="cmr-9">c</span></sup>Cabe, C. Molecular dynamics simulations of
stratum corneum lipid mixtures: a multiscale perspective. <span
class="cmti-10">Biochemical and Biophysical Research</span> <span
class="cmti-10">Communications </span><span class="cmbx-10">498
</span>(2017), pp. 313–318</p>
</div></li>
<li><div id="x1-31x15">
<p>Hartkamp, R., <span class="cmbx-10">Moore, T. C.</span>, Iacovella,
C. R., Thompson, M. A., Bulsara, P. A., Moore, D. J., and M<sup><span
class="cmr-9">c</span></sup>Cabe, C. Investigating the structure of
multicomponent gel-phase lipid bilayers. <span
class="cmti-10">Biophysical Journal </span><span
class="cmbx-10">111</span> (2016), pp. 813–823</p>
</div></li>
<li><div id="x1-33x16">
<p>Hartkamp, R., <span class="cmbx-10">Moore, T. C.</span>, Iacovella,
C. R., Thompson, M. A., Bulsara, P. A., Moore, D. J., and M<sup><span
class="cmr-9">c</span></sup>Cabe, C. Structural properties of
phospholipid-based bilayers with long-chain alcohol molecules in the gel
phase. <span class="cmti-10">The Journal of Physical Chemistry B
</span><span class="cmbx-10">120 </span>(2016), pp. 12863–12871</p>
</div></li>
<li><div id="x1-35x17">
<p><span class="cmbx-10">Moore, T. C.</span>, Iacovella, C. R.,
Hartkamp, R., Bunge, A. L., and M<sup><span
class="cmr-9">c</span></sup>Cabe, C. A coarse-grained model of stratum
corneum lipids: free fatty acids and ceramide NS. <span
class="cmti-10">The Journal of Physical Chemistry B </span><span
class="cmbx-10">120 </span>(2016), pp. 9944–9958</p>
</div></li>
<li><div id="x1-37x18">
<p><span class="cmbx-10">Moore, T. C.</span>, Iacovella, C. R., and
M<sup><span class="cmr-9">c</span></sup>Cabe, C. Development of a
coarse-grained water forcefield via multistate iterative Boltzmann
inversion. In <span class="cmti-10">Foundations of Molecular Modeling
and Simulation</span>. Springer (2016), pp. 37–52</p>
</div></li>
<li><div id="x1-39x19">
<p><span class="cmbx-10">Moore, T. C.</span>, Iacovella, C. R., and
M<sup><span class="cmr-9">c</span></sup>Cabe, C. Derivation of
coarse-grained potentials via multistate iterative Boltzmann inversion.
<span class="cmti-10">The Journal of Chemical Physics </span><span
class="cmbx-10">140 </span>(2014), p. 224104</p>
</div></li>
<li><div id="x1-41x20">
<p>Guo, S., <span class="cmbx-10">Moore, T. C.</span>, Iacovella, C. R.,
Strickland, L. A., and M<sup><span class="cmr-9">c</span></sup>Cabe, C.
Simulation study of the structure and phase behavior of ceramide
bilayers and the role of lipid headgroup chemistry. <span
class="cmti-10">Journal of Chemical</span> <span class="cmti-10">Theory
and Computation </span><span class="cmbx-10">9 </span>(2013), pp.
5116–5126</p>
</div></li>
</ol>
